#Register {
    background-image: url('../images/mona.png');
    background-position: center center;
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 100px;
}
.events_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.EventHeading {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    padding-top: 0;
    margin-bottom: 50px;
}

.p {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.RFEHeading {
    font-size: 60px;
}

.ELHeading {
    font-size: 60px;
    position: relative;
    bottom: 50px;
}

@media (max-width:767px) {
    .RFEHeading {
        font-size: 35px
    }

    .ELHeading {
        font-size: 55px;
        position: relative;
        bottom: 47px;
    }
}

@media (max-width:500px) {
    .RFEHeading {
        font-size: 28px;
        padding-bottom: 10px;
    }

    .ELHeading {
        font-size: 32px;
    }
}