#landing {
    background-image: url('../images/landing/landing.png');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1000;
}
.landing_main_text{
    font-size: 4.5em;
    color: white;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 100px;
}
.brochure_btn{
    font-size: 25px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}
.landing_text_gradient{
    background: linear-gradient(to right, #EBE200,#FF4C1A,#FF0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.icons_list{
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    position: absolute;
    top: 10%;
    right: 0;
    padding: 1em;
}