/* Landing section */
#landing {
    background-image: url('../images/landing/landing.png');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

#landing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 1;
}

#landing::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 1;
}

#landing::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 1;
}

.landing_main_text {
    font-size: 4.5em;
    color: white;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 100px;
}

.brochure_btn {
    font-size: 25px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}
.brochure_btn a{
    text-decoration: none;
    color: white;
}
.landing_text_gradient {
    background: linear-gradient(to right, #EBE200, #FF4C1A, #FF0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icons_list {
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    position: absolute;
    top:  30%;
    right: 0;
    padding: 1em;
}
.icons_list a{
    color: white;
}

/* ---------------------------- */
@media (max-width: 767px) {
    .landing_main_text {
        font-size: 4em;
        left: 50px !important;
    }

    .brochure_btn {
        font-size: 20px;
    }
}

@media (max-width: 560px) {
    .landing_main_text {
        font-size: 3em;
        left: 30px !important;
    }

    .brochure_btn {
        font-size: 18px;
    }
}