.sponsor-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    scale: .9;
    cursor: pointer;
}

.sponsor-card:hover {
    transform: translateY(-5px);
}

.event-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

