/* sponsors.css */
.sponsor-container {
    width:100%;
    margin: 0 auto;
    padding: 20px;
    background-image: url('../images/sponsor/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sponsor-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: white;
}

.sponsor-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .sponsor-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .sponsor-card-container {
        grid-template-columns: 1fr;
    }
}

/* sponsorcard.css */
.sponsor-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.sponsor-card:hover {
    transform: translateY(-5px);
}

.event-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
