.registeration_events{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.outer-border {
    display: flex;
    justify-content: space-between;
    color: white;
}
.linkWrapper {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.GoogleLink{
    font-size: 2em;
    text-decoration: underline;
    color: #85ae4e;
}
.p {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.Event {
    font-size: 35px;
    color: #85ae4e;
    background-color: #2f4145a4;
    margin-bottom: 10px;
    padding-left: 0;
    padding: 10px;
}

.Details {
    font-size: 15px;
    max-width: calc(100vw/2);
    color: #fff9f9;
    background-color: #2f4145a4;
    padding: 10px;
    line-height: 24px;
    font-weight: 300 !important;
}

.Register {
    font-size: 25px;
    position: relative;
    top: 35px;
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 10000;
}

@media (max-width:747px) {

    .Details {
        font-size: 16px;
    }

    .Register {
        font-size: 20px;
        position: relative;
        top: 30px;
        color: white;
    }
}

@media (max-width:500px) {
    .Event {
        font-size: 22px;

    }

    .Details {
        font-size: 18px
    }

    .Register {
        font-size: 18px;
        position: relative;
        top: 23px;
        color: white;
    }
}