* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  overflow-x: hidden;
  background-image: 'assets/events_bg.png'
}

#root {
  width: 100%;
  background-image: 'assets/events_bg.png'
}
.app-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-image: 'src/events_bg.png'
  /* background-color: yellowgreen; */
  /* background-repeat: no-repeat; /* Prevents the image from repeating */   
  /* background-size: cover; /* Makes sure the image covers the entire element */   
  /* background-position: center; /* Centers the image */   
}


.header-container {
  margin-bottom: 20px;
}

.main-title {
  font-size: 4.5rem;
  font-family: 'Minecrafter Alt';
  font-weight: 20;
  margin-bottom: 0.5rem;
}

.sub-title {
  font-size: 1rem;
  font-family: 'Minecrafter Alt';
  color: #666;
  margin-bottom: 1rem;
}
