@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom color variables */
:root {
  --color-main-orange: #ff8c34;
  --color-main-pink: #ff0066;
  --color-main-neon: #c6f806;
  --color-main-cream: #c6f806;
  --color-main-blue: #4271ff;

  --color-primary-white: #ffffff;
  --color-primary-black: #000000;
}

.bg-main-orange {
  background-color: var(--color-main-orange);
}
.bg-main-pink {
  background-color: var(--color-main-pink);
}
.bg-main-neon {
  background-color: var(--color-main-neon);
}
.bg-main-cream {
  background-color: var(--color-main-cream);
}
.bg-main-blue {
  background-color: var(--color-main-blue);
}

.bg-primary-white {
  background-color: var(--color-primary-white);
}
.bg-primary-black {
  background-color: var(--color-primary-black);
}

.text-main-orange {
  color: var(--color-main-orange);
}
.text-main-pink {
  color: var(--color-main-pink);
}
.text-main-neon {
  color: var(--color-main-neon);
}
.text-main-cream {
  color: var(--color-main-cream);
}
.text-main-blue {
  color: var(--color-main-blue);
}

.text-primary-white {
  color: var(--color-primary-white);
}
.text-primary-black {
  color: var(--color-primary-black);
}
