@font-face {
  font-family: 'minecraft';
  src: url('./assets/fonts/Minecrafter_Alt.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'minecraft',sans-serif;
  background-color: #000000;
}
