@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@font-face {
  font-family: 'AlfaSlabOne-Regular';
  src: url('./assets/AlfaSlabOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.marquee {
  display: inline-flex;
  animation: marquee 15s linear infinite;
  will-change: transform;
}

/* .Router-box { */
/*   width: 1540.863px; */
/*   height: 126.647px; */
/*   background: #c6f806; */
/*   position: sticky; */
/*   top: 720.95px; */
/*   left: -34.52px; */
/*   transform: rotate(-5deg); */
/*   padding: 39px 2.25px 39px 2.25px; */
/*   display: flex; */
/*   align-items: center; */
/* } */
.Router-box {
  background: #c6f806;
  transform: rotate(-5deg) scale(1.05);
  padding: 39px 2.25px; /* Simplified padding */
  display: flex;
  align-items: center;
}

.Rinner-box {
  color: #000;
  font-family: 'AlfaSlabOne-Regular';
  font-size: 60px;
  font-style: normal;
  font-weight: bolder;
  line-height: 131%; /* 78.6px */
}

.Rinner-box span {
  /* width: 38.364px; */
  height: 36.897px;
  transform: rotate(-0.557deg);
  flex-shrink: 0;
  stroke-width: 4.607px;
  stroke: #000;
}
