@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-60%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 40s linear infinite;
}

.mask-gradient {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0,
    black 128px,
    black calc(100% - 128px),
    transparent 100%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(
    to right,
    transparent 0,
    black 128px,
    black calc(100% - 128px),
    transparent 100%
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
